*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: aliceblue;
    
}
.h1{
    text-align: center;
    font-size: 5em;
}
span{
    color:rgb(209, 60, 60);
}
.h2{
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    font-style: italic;
}
.description{
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 50px;
}
.form{
    padding-top: 50px;
    margin-left: 60%;
}
.copyright{
    border: 1px solid blue;
    margin-top: 15%;
    
    text-align: center;


}